
/* Auth0 Formatting */
.hidden {
   display: none;
 }
 
 label {
   margin-bottom: 10px;
   display: block;
 }

 /* Image size and position */
 #col-img img {
   object-fit: fill;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   min-width: 200px;
 }

 img #profile-img {
    width: 32px;
    height: 32px;
 }

 #profileImage {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 /* Buttons */
table button {
   margin-bottom: 5px;
   margin-right: 5px;
   width: 75px;
}

#col-output button {
   margin-bottom: 10px;
}

/* Font and Text */
#translatedOutput {
   font-family: cursive;
   font-size: xx-large;
   font-style: italic;
}

h3 {
   text-decoration: underline;
}

.profileText {
   background-color: lightgrey;
   overflow-wrap: break-word;
   padding-left: 5px;
   padding-right: 5px;
}

/* Table Formating for stacked on mobile view etc */


#saveTable td::before {
    display: none;

}

.table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  
  .table-responsive-stack td,
  .table-responsive-stack th {
     display:block;
     width: 20%;
  /*  flex-grow | flex-shrink | flex-basis   */
     -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  }
  
  .table-responsive-stack .table-responsive-stack-thead {
     font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
     .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-bottom: 3px solid #ccc;
        display:block;
     }
     .thead-dark {
        display: none;
     }

     #saveTable td::before {
      display: inline-block;
      font-weight: bold;
      margin-right: 5px;
      
  }

     /*  IE9 FIX   */
     .table-responsive-stack td {
        float: left\9;
        width:100%;
     }
  }
 