form {
    width: 90%;
    margin: auto;
}

/* Auth0 Formatting */
.hidden {
   display: none;
 }
 
 label {
   margin-bottom: 10px;
   display: block;
 }



/* Table Formating for stacked on mobile view etc */
.table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  
  .table-responsive-stack td,
  .table-responsive-stack th {
     display:block;
     width: 20%;
  /*  flex-grow | flex-shrink | flex-basis   */
     -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  }
  
  .table-responsive-stack .table-responsive-stack-thead {
     font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
     .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-bottom: 3px solid #ccc;
        display:block;
     }

     /*  IE9 FIX   */
     .table-responsive-stack td {
        float: left\9;
        width:100%;
     }
  }
 
  